body,ul,li{
    /*初始化*/
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;

}
/*清理浮动*/
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
/*一级菜单*/
.container{
    width: 1197px;
    margin: 20px auto;
}

.nav-list{
    background-color: #808080;
    height: 42px;
    position: relative;
}


.nav-list > li{
    width: 171px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    float: left;
}
.nav-list > li > a{
    /*高度属性*/
    display: block;
    color: white;
    font-size: 18px;
    position: relative;
    z-index: 9;
}
.nav-list > li > a:hover{

    background-color: #fff;
    color: red;
    border: 1px solid #c9c9c9;
    border-bottom: none;
}
/*二级菜单*/
.item{
    position: absolute;
    top: 42px;
    width: 171px;
    z-index: 1;
    display: none;
}

.item-list{
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 2px 0 10px 0px;
    border-top: none;
}
.item-list>li{
    height: 40px;
}
.item-list>li>a{
    color: #6e6e6e;
    line-height: 40px;
}
.item-list>li>a:hover{
    text-decoration: underline;
}
/*控制显示二级菜单*/
.nav-list .show .item{
    display: block;
}
/*不能越级*/
.nav-list> .show > a{
    background-color: #fff;
    color: red;
    border: 1px solid #c9c9c9;
    border-bottom: none;
}
/*第二个二级菜单*/
.item1{
    position: absolute;
    top: 42px;
    width: 342px;
    z-index: 1;
    display: none;
}

.item-list1{
    background-color: #fff;
    border: 1px solid #c9c9c9;
    padding: 2px 0 10px 0px;
    border-top: none;
}

.item-list1>li{
    width:50%;
    float: left;
    height: 40px;
}
.item-list1>li>a{
    color: #6e6e6e;
    line-height: 40px;
}
.item-list1>li>a:hover{
    text-decoration: underline;
}
/*控制显示二级菜单*/
.nav-list .show .item1{
    display: block;
}
p{
    font-size: 18px;
    text-align: center;
    margin-top: 300px;
}
