body,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrapper{
    position: relative;
    display: inline-block;
    margin: 100px;
    border: 2px solid #ff5000;
    border-radius: 20px;
    border-right: none;
    height: 36px;
    width: 474px;
}
.search{
    overflow: hidden;
    display: inline-block;
    border-radius: 18px;
}
input{
    padding: 6px 0;
    text-indent: 10px;
    height: 24px;
    line-height: 24px;
    width: 400px;
    border: none;
    outline: 0;
    background: #fff;
}
.btn{
    position: absolute;
    right: 0;
    top:0;
    z-index:100;
    width: 74px;
    height: 36px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #ff4200;
    cursor: pointer;
    border: none;
}
ul{
    display: none;
    border: 1px solid #ccc;
    position: absolute;
    top: 38px;
    left: 0;
    width: 400px;
    background: #fff;
}
li{
    padding: 3px 10px;
}