body,ul,li,a,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #141218;
}
a,p{
    color: #fff;
}
/*导航栏部分*/
.gn-globalnav{
    height: 44px;
    background: rgba(0,0,0,0.8);
}
.gn-content{
    max-width: 980px;
    margin: 0 auto;
}
.gn-header{
    display: none;
}
.gn-list,.gn-header{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}
.gn-list li,.gn-header li{
    height: 44px;
}
.gn-list li a,.gn-header li a{
    display: inline-block;
    height: 44px;
    line-height: 44px;
    font-weight: 200;
}
.gn-logo{
    background-image: url("../image/1.png");
    width: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.gn-header{
    display: none;
}
.gn-header .gn-more{
    font-size: 30px;
}
.gn-list.gn-list-active{
    display: flex;
}
@media only screen and (max-width: 600px) {
    .gn-list{
        display: none;
        position: absolute;
        top: 44px;
        flex-direction: column;
        width: 100%;
        margin: 0;
        background: #222;
    }
    .gn-list .gn-logo{
        display: none;
    }
    .gn-list li{
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid #555;
    }
    .gn-list li:first-child{
        border-top: none;
    }
    .gn-header{
        display:flex;
    }
}

/*内容部分*/
main{
    max-width: 980px;
    margin: 0 auto;
}
.main{
    width: 700px;
    margin: 80px auto;
}

.main p:nth-child(2n){
    float:right;
}
.main p:nth-child(2n+1){
    float:left;
}
@media screen and (max-width: 767px){
    .main{
        width: 200px;
        margin: 0 auto;
    }
    .main p:nth-child(2n){
        margin: 30px auto;
        width: 100%;
        float:right;
    }
    .main p:nth-child(2n+1){
        margin: 30px auto;
        width: 100%;
        float:left;
    }
    .main p{
        margin: 0 auto;
        padding-top: 10px;
        height: 60px;
        font-size: 16px;
    }
}
.main p{
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    padding-top: 50px;
    color: #fff;
    height: 200px;
    border-top: 1px solid #888;
    font-size: 20px;
    font-weight: 200;
}