/*
*这边不能用通配符，不知道通配符的什么把下面给遮盖掉了
*/
body,ul,li,a,p,h1,h2{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-y: hidden;
}

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background: url("../image/1.jpeg") no-repeat;
    background-size:100% 100%;
}
.all{
    width: 600px;
    margin: 50px auto 0;
}
.main{
    width:100%;
    text-align: center;
}
.main img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 50px solid #444;
}
.tool{
    width: 600px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(149,149,149,0.9);
    margin-top: 20px;
    position: relative;
}
.btn{
    position: absolute;
    left: 50px;
    width: 30px;
    height: 30px;
    /*background-color: yellowgreen;*/
}
/*小图标怎么设置*/
.tool i{
    color: white;
    font-size: 28px;
}
.volume{
    position: absolute;
    width: 30px;
    height: 30px;
    /*background-color: yellowgreen;*/
    right: 50px;
}
/*tool下面的直接子元素垂直居中*/
.tool>div{
    top: 50%;
    margin-top: -15px;
}

.progress{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    /*background: #333;*/

}
.current-time,.duration{
    width: 80px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    /*设置字体粗细*/
    font-weight: 200;
}
.current-time{
    float: left;
}
.duration{
    float: right;
}
.pro-box{
    /*行级块元素,不会把右边挤下去*/
    display: inline-block;
    width: 240px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    /*background-color: yellow;*/
    position: absolute;
}
/*背景进度条*/
.pro-bg{
    width: 240px;
    height: 2px;
    background-color: rgba(0,0,0,0.3);
}
/*滑动进度条*/
.pro-active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background-color:#fff;
}
/*小圆点*/
.radio-box{
    position:absolute;
    right: -9px;
    top: -9px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    /*background-color:green;*/
    border-radius: 50px;
}
.radio{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color:#fff;
    border-radius: 50%;
}